/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
icle, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
    cursor: pointer;
}
hr {
    margin-left: 0;
    margin-right: 0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    height: 100vh;
    width: 100vw;
    transition: height 300ms;
    display: flex;
    flex-direction: column;
    font-family: Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    background-color: #FAFAFA;
    overflow: auto;
}

main > a button.doable {
    font-size: 7vh;
    height: 15vh;
}

main > section {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    position: relative;
    height: 100%;
    width: 100%;
}

article svg {
    height: 100vh;
}

a {
    text-decoration: none;
    width: 100%;
}

nav > .large, .large {
    display: none;
}

button {
    width: 100%;
    color: #FAFAFA;
    font-family: 'Bungee', Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    background-color: #262626;
    transition: background-color .15s;
}



a > button.doable, button.doable {
    color: #FAFAFA;
    background-color: #549c57;
}

button.doable:hover {
    background-color: #48b54c;
}

button:hover, button:disabled, .unwanted.doable {
    background-color: #878787;
}

button.unwanted-doable:active, button.unwanted.doable:hover {
    background-color: #262626;
}

button.undoable {
    background-color: #E53935;
}

button.undoable:hover {
    background-color: #ce4844;
}

nav.small {
    animation: from-bottom-animation .15s linear forwards;
}

section > section > button.doable {
    animation: from-bottom-animation .15s linear forwards;
    font-size: 7vh;
    color: #FAFAFA;
    box-shadow: 0 0 10px #262626;
}

form {
    padding-bottom: 2vh;
    width: 100%;
}

form input {
    background-color: #c6c6c6;
    width: 100%;
    height: 7vmin;
    font-family: Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    padding: 1vmin 0;
    font-size: 6vmin;
    text-align: center;
}



section section article {
    animation: from-right-animation .15s linear forwards;
    height: 100%;
    width: 100%;
    padding: 0;
}

article {
    animation: from-right-animation .15s linear forwards;
    text-align: left;
    padding: 0 5%;
    padding-top: 3vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main > section > section > article {
    padding-top: 5vh;
    width: 90%;
    align-items: center;
}

article > button {
    border-radius: 5px;
    height: 15vh;
}


article > header {
    animation: from-right-animation 200ms;
    border-bottom: 2px solid #262626;
    padding-bottom: 1vh;

}

h2 {
    font-family: 'Bungee', Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
}
article > header h2 {
    color: #262626;
    float: left;
    font-size: 5vmax;
}
article > header h2:only-child {
    float: none;
    text-align: center;
}
article > header > svg {
    width: inherit;
}
article h4 {
    color: #262626;
    font-family: Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    margin-bottom: 2vh;
    font-size: 3vmax;
    font-weight: bold;
}

section#contact article p {
    margin-top: 0;
    margin-bottom: 2vh;
}
article p ~ p {
    margin-top: 1vh;
    margin-bottom: 2vh;
}
article p + h4 {
    margin-bottom: .75vh;
    display: inline;
    align-self: flex-start;

}
article > section {
    align-items: center;
    overflow-y: scroll;
    width: 90%;
    padding: 0 5%;
}

article > section > section:only-child {
    padding-top: 2vh;
}
article  p, article li {
    color: #262626;
    font-family: Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    line-height: 150%;
    font-size: 3vmax;
    width: 100%;
}

article li {
    line-height: 200%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article section + hr {
    margin-top: 4vh;
}

.fullscreen {
    height: 115vh;
}
.menu-description {
    flex-direction: row;
    justify-content: space-between;

}
.last-button {
    border-top-left-radius: 5px;
    box-shadow: -2px 3px 10px #262626;
}

.item-action-btn {
    animation: from-right-animation 200ms linear forwards;
    box-shadow: 0 0 10px #262626;
    margin-top: 3vh;
    align-self: center;
    padding: 0 2vw;
    font-size: 7vmin;
    height: 14vmin;
}


.menu-description h4 {
    margin-top: inherit;
    align-self: flex-end;
    margin-right: 2vw;
}

.price {
    align-items: flex-end;
    margin-top: 3vh;
}
#order-review .price h4 {
    margin-right: 3vw;
    font-style: initial;
}

.order-action {
    animation: appear-animation 100ms linear forwards;
    width: 80%;
    height: 12vh;
}
a.order-action button {
    font-size: 5vh;
}

.isolated-nav {
    flex-direction: column;
    padding: 2.5vh;
    margin-top: initial;
    height: 100%;
    width: 80%;
}
.isolated-nav.large {
    width: 30%;
}
.isolated-nav nav {
    box-shadow: 0 0 10px #262626;
    flex-direction: column;
    animation: from-right-animation .15s linear forwards;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #c6c6c6;
}

.small > button:first-of-type {
    box-shadow: 0 0 5px #262626;
}
.isolated-nav a {
    display: flex;
    flex: 1;
    margin: inherit;
    min-height: 10vh;
}
.isolated-nav button {
    font-size: 5vh;
    color: #262626;
    background-color: #c6c6c6;
}

.isolated-nav a:not(:last-child) > button {
    border-bottom: 2px dashed #262626;
}
.isolated-nav button:hover {
    background-color: #878787;
}

.isolated-nav .reserved {
    background-color: #a1a1a1
}

.program-page > article {
    height: 55%;
}
.quantity {
    animation: from-right-animation 200ms linear forwards;
}
.quantity > div {
    margin-top: 2vh;
    flex-direction: row;
}
.quantity button:first-child {

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.quantity button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.quantity h4 {
    font-family: 'Bungee', Futura, 'Roboto', Trebuchet MS, Arial, sans-serif;
    font-size: 3vh;
}

.quantity button {
    box-shadow: 0 0 10px #262626;
    font-size: 14vw;
    padding: 0;
    width: 25vw;
    height: 13vh;
}

#menu header {
    width: 100%;
}
#shopping-cart-icon span.blinks {
    animation: infinite blinking 750ms steps(2, start);
}

#shopping-cart-icon h2.bouncesUp {
    animation: 2 bounceUp 150ms ;
}
#shopping-cart-icon h2.bouncesDown {
    animation: 2 bounceDown 150ms;
}
nav.primary {
    position: relative;
    bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
nav.primary a.small button {
    font-size: 10vh;
    padding: 0;
    height: 15vh;
    width: 100vw;
}
#para-llevar > button {
    height: 15%;
    box-shadow: 0 0 20px #262626;
    animation: from-left-animation .15s linear forwards;
    opacity: 0;
}

#para-llevar-menu ol {
    min-height: 30%;
}
#order-review ul {
    width: 100%;
}
#order-review li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
}
#order-review li > button {
    border-radius: 4px;
    height: 8vh;
    width: 16vw;
    font-size: 4vh;
    margin-right: 2vw;
}

#order-review h4 {
    font-size: 4vh;
    margin-bottom: 2vh;
}
#order-review > a {
    width: initial;
}
#order-review .doable {
    height: 20vh;
    animation: from-right-animation .15s linear forwards;
    font-size: 10vh;
    box-shadow: 0 0 10px #262626;
}
#products > a {
    height: 18vh;
    box-shadow: 0 0 10px #262626;
    animation: from-bottom-animation .15s linear forwards;
}


#product > article > .product-description {
    min-height: 30%;
    justify-content: flex-start;
}
#product > article > .product-description p + p {
    margin-top: 5vh;
}

#shopping-cart-icon {
    display: flex;
    animation: from-right-animation 175ms linear forwards;
    justify-content: flex-end;
    font-size: 2vh;
    color: #262626;
    width: initial;
    pointer-events: none;
    cursor: default;
}
#shopping-cart-icon h2 {
    position: relative;
}
.hidden {
    visibility: hidden;
}

#contact a {
    text-decoration: underline;
}

@media (min-width: 1050px), (min-aspect-ratio: 13/9) {
    main > section {
        flex-direction: row;
    }
    article > section {
        flex-direction: row;
        height: 100%;
    }
    article > section > section:last-child {
        width: inherit;
        justify-content: center;
    }
    article > section > section:only-child {
        justify-content: flex-start;
        padding-top: 5vmax;
    }
    article > header h2 {
        font-size: 6vmax;
    }
    #menu #logo {
        height: 90vh;
    }
    .large {
        display: inherit;
    }
    .small {
        display: none;
    }
    article svg {
        height: 55vh;
    }
    article p {
        font-size: 4vmin;
    }
    .fullscreen {
        height: 100vh;
    }

    nav.primary {
        align-self: center;
    }

    .item-action-btn {
        height: 10vmin;
    }
}

@keyframes from-bottom-animation {
    from {
        opacity: 0;
        transform: translateY(+100px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}



@keyframes from-above-animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes from-left-animation {
    from {
        opacity: 0;
        transform: translateX(-100px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes from-right-animation {
    from {
        opacity: 0;
        transform: translateX(100px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes appear-animation {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }

    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

@keyframes bounceUp {
    0% {bottom: 0;}
    10% {bottom: -0.1vh;}
    50% {bottom: .25vh;}
    90% {bottom: -0.1vh;}
    100% {bottom: 0;}
}

@keyframes bounceDown {
    0% {bottom: 0;}
    10% {bottom: 0.1vh;}
    50% {bottom: -.25vh;}
    90% {bottom: 0.1vh;}
    100% {bottom: 0;}
}

@keyframes blinking {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blinking {
  to {
    visibility: hidden;
  }
}
